extends layout.pug
block contentBlock
    if allUsers
        div(class="usersTable")
            div(class="tableBody")
                div(class="tableRow")
                    div(class="tableCell")="Username"
                    div(class="tableCell")="Email"
                    div(class="tableCell")="Is Active"
                    div(class="tableCell")="Is Admin"
                    div(class="tableCell")="Age"
                    div(class="tableCell")=questions[0]
                    div(class="tableCell")=questions[1]
                    div(class="tableCell")=questions[2]
                    div(class="tableCell")="_id"
                each user in allUsers
                    include userDetailMixin.pug
                    +userDetailMixin(user)
    else
        h2=errorMessage