extends layout.pug
block contentBlock
    script(src="/scripts/admin.js")
    if allUsers
        table(class="usersTable")
            tr
                th="Username"
                th="Email"
                th="Is Active"
                th="Is Admin"
                th="Age"
                th=questions[0]
                th=questions[1]
                th=questions[2]
                th="_id"
            each user in allUsers
                include userDetailMixin.pug
                +userDetailMixin(user)