nav
    //- logic to determine if we should display login/register or logout
    a(href="/home")="Home"
    if user
        a(href="/admin/profile")=user.username
        if user.isAdmin
            a(href="/admin/Admin")="Admin"
        a(href="/admin/logout")="Log Out"
    else 
        a(href="/admin/login")="Log In"
        a(href="/admin/register")="Register"
    a(href="")=""