extends layout.pug
block contentBlock
    h3=user.username
    form
    label(for="username")="Username: "
    input(type="text", name="username", value=user.username)
    br
    label(for="email")="Email: "
    input(type="text", name="email", value=user.email)
    br
    label(for="email")="Email: "
    input(type="text", name="email", value=user.email)
    br
    label(for="newPassword")="New Password: "
    input(type="password", name="newPassword")
    br
    - var questionCounter = 0
    - var radioName = "question" + questionCounter
    each question in questions
        div(class="formEntry")
            label(for="question1")=question.prompt
            br
            each choice in question.choices
                - var radioValue = question.prompt + ":" + choice
                input(id=radioName type="radio", name=radioName, value=radioValue)
                label(for=radioName)=choice
                br
            - questionCounter += 1
            - radioName = "question" + questionCounter 
