mixin userDetailMixin(user)
    tr(class="userDetail")
        //- table listing all of the users
        td=user.username
        td=user.email
        td
            input(type="checkbox", name="chkIsActive", checked="false", onclick=`updateIsActive(${user._id})`)
        td
            input(type="checkbox", name="chkIsAdmin", checked="true", onclick=`updateIsAdmin(${user._id})`)
        td=user.age
        if (user.responses)
            each response in user.responses
                td=response.choice
        td=user._id