mixin userDetailMixin(user)
    tr(class="userDetail")
        //- table listing all of the users
        td=user.username
        td=user.email
        td
            input(type="checkbox", name="chkIsActive", selected=user.isActive)
        td
            input(type="checkbox", name="chkIsAdmin", selected=user.isAdmin)
        td=user.age
        if (user.responses)
            each response in user.responses
                td=response.choice
        td=user._id