mixin userDetailMixin(user)
    tr(class="userDetail")
        td=user.username
        td=user.email
        td
            if (user.isActive)
                input(type="checkbox", name="chkIsActive", checked)
            else
                input(type="checkbox", name="chkIsActive")
        td
            if (user.isAdmin)
                input(type="checkbox", name="chkIsAdmin", checked)
            else
                input(type="checkbox", name="chkIsAdmin")
        td=user.age
        if (user.responses)
            each response in user.responses
                td=response.choice
        td=user._id