mixin userDetailMixin(user)
    tr(class="userDetail")
        //- table listing all of the users
        td=user.username
        td=user.email
        td=user.isActive
        td=user.isAdmin
        td=user.age
        - console.log(user.responses)
        if (user.responses && user.responses.length > 0)
            each response in responses
                td=response.choice